asgiref==3.8.1
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
crispy-bootstrap5==2024.10
cryptography==44.0.0
Django==5.1.4
django-allauth==65.3.0
django-crispy-forms==2.3
django-debug-toolbar==5.0.1
environs==11.2.1
idna==3.10
marshmallow==3.26.0
oauthlib==3.2.2
packaging==24.2
psycopg2-binary==2.9.10
pycparser==2.22
PyJWT==2.10.1
python-dotenv==1.0.1
requests==2.32.3
requests-oauthlib==2.0.0
setuptools==69.5.1
sqlparse==0.5.3
urllib3==2.3.0
wheel==0.43.0
whitenoise==6.8.2
